<!--
Copyright (C) 2017 The OmniROM Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.omnistyle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24" />

    <application
        android:allowBackup="false"
        android:label="OmniStyle"
        android:icon="@drawable/omnirom_logo" >
        <activity
            android:name=".BrowseHeaderActivity"
            android:label="@string/browse_header"
            android:theme="@android:style/Theme.Material.Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weather_color"
            android:label="LockClock (color)" >
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_marshmallow"
            android:label="Marshmallow" >
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_weezle"
            android:label="Weezle" >
            <intent-filter>
                <action android:name="org.omnirom.WeatherIconPack" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".nature"
            android:label="Nature" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".poly"
            android:label="Poly" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".naturerandom"
            android:label="Nature (random)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wavvy"
            android:label="Wavvy" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".naturelist"
            android:label="Nature (sequential)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".n"
            android:label="Splash" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".n1"
            android:label="Google pixels" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".n3"
            android:label="Google colors" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".n2"
            android:label="Dots" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".color_layer_header_base"
            android:label="Colors texture - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".colorz"
            android:label="Pixels full" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture2"
            android:label="Pixels full v2" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".pb"
            android:label="PitchBlack - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".pbs_tm"
            android:label="PitchBlack 1 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".pbs_notm"
            android:label="PitchBlack 2 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".paper1"
            android:label="Paper" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".magic"
            android:label="Magic" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".camo"
            android:label="Camouflage" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".NT"
            android:label="Color with texture - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture"
            android:label="Texture - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture1"
            android:label="Texture1 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture3"
            android:label="Texture3 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture4"
            android:label="Texture4 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture5"
            android:label="Texture5 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture6"
            android:label="Texture6 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".texture7"
            android:label="Texture7 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".lines"
            android:label="Texture8 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name=".dots_smart"
            android:label="Texture9 - smart" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".nitrogen"
            android:label="Nitrogen" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".colorful"
            android:label="Colorful" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
